@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.About {
    height: 100vh;
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
}