@import url('https://fonts.googleapis.com/css?family=Denk+One&display=swap');


.Home {
    height: 100vh;
    /*margin-top: 9.5vh !important;*/
    background-color: #734ae8;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
}
.Text {
    padding-top: 40vh !important;
    color: white;
    font-family: 'Denk One', sans-serif;
    margin-left: 4% !important;
    font-size: 2em;
}

.Name {
    display: inline;
    text-decoration: underline;
}