@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.Tab {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.1);
    height: 3.5em;
    padding-top: 0.9% !important;
}

.Tab > .active {
    text-decoration: underline;
}

.Tab a {
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin: 1% 1.5% !important;
}
.Tab a:hover {
    text-decoration: underline;
    cursor: pointer;
}


