/* fonts */
@import url('https://fonts.googleapis.com/css?family=Denk+One&display=swap');




.Projects {
    height: 100vh;
    width: 100%;
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
}

@media(min-width:750px) {
    .Boxes {
        padding-top: 6em !important;
        display: flex;
    }
}
@media(max-width:749px) {
    .Boxes {
        padding-top: 4em !important;

    }
}



.Box1 {
    margin-left: 2% !important;
    margin-right: 2% !important;
    background: rgba(0,0,0,0.1);
    flex: 1;
    border-radius: 8px;
}   

.Box2 {
    background: rgba(0,0,0,0.1);
    margin-left: 2% !important;
    margin-right: 2% !important;
    flex: 1;
    border-radius: 8px;
}

.Header {
    text-align: center;
    font-size: 5vh;
    font-family: 'Denk One', sans-serif;
    color: whitesmoke;
    margin-top: 2% !important;
}

.PicOsakeseuranta {
    max-width: 60%;
    margin-left: 20% !important;
    border-radius: 10px;
    margin-top: 2% !important;
}

.Info {
    text-align: left;
    margin-left: 2% !important;
    font-size: 3vh;
    font-family: 'Denk One', sans-serif;
    color: whitesmoke;
    margin-top: 3% !important;
}

.Logosheader {
    text-align: center;
    font-size: 3vh;
    font-family: 'Denk One', sans-serif;
    color: whitesmoke;
    margin-top: 3% !important;
}

.Icons {
    text-align: center;
}

.Icon {
    margin-top: 3% !important;
    margin-left: 2% !important;
    padding-bottom: 6% !important;
    height: 3em;
}